__pycache__/
__pycache__
.pytest_cache/
*.egg-info/
.mypy_cache/
.vscode/
build/
dist/
*.pyc
*.pyo
*.pyd
htmlcov
.coverage
.coverage.*
coverage.xml
logs/
*.log
.env
.venv/
venv/
env/
.envrc
.direnv/
.python-version
.idea/
.DS_Store
.ruff_cache/
.tox/
.hypothesis/
.pyre/
.pytype/
.cache/
.ipynb_checkpoints/
.eggs/
pip-wheel-metadata/
.devcontainer/
*~
.#*
*.swp
*.swo
*.pem
